<header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand tfont" routerLink="home" routerLinkActive="active">MAMBA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="employees" routerLinkActive="active" aria-current="page" >Employee list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "routerLink="add" routerLinkActive="active" aria-current="page" >Add Employee</a>
          </li>
          
        </ul>
        
        
      </div>
    </div>
  </nav>
</header>
  <!-- <h1 class="text-center">{{title}}</h1> -->
<main>

  <router-outlet></router-outlet>
  
</main>


  <footer class="container-fluid bg-dark" >
    <p class="p-4 d-flex justify-content-center" style="color: white;">Copy right &copy; 2020-2021</p>
    <!-- <p class="d-flex justify-content-center" style="color: white;">hero</p> -->
    </footer>


