 <div class="container contianerSize">
    <form [formGroup]="addDetailsUsingForm" (ngSubmit)="onSubmit()">
        <div class="form-group mt-3">
            <label> First Name</label>
            <!-- <input type="text" class="form-control" id="firstName"  [(ngModel)]="employee.firstName"
            name="firstName"> -->
            <input type="text" class="form-control"  formControlName='firstName' [ngClass]="{ 'is-invalid':addDetailsUsingForm.get('firstName')?.touched && addDetailsUsingForm.get('firstName').invalid} " >
            <div class="invalid-feedback">                                                      
                <div>Required</div>
            </div>
        </div>
        <div class="form-group mt-3">
            <label> Last Name</label>
            <!-- <input type="text" class="form-control" id="lastName"  [(ngModel)]="employee.lastName"
            name="lastName"> -->
            <input type="text" class="form-control"   formControlName='lastName' [ngClass]="{'is-invalid':addDetailsUsingForm.get('lastName')?.touched && addDetailsUsingForm.get('lastName').invalid}" >
            <div class="invalid-feedback">
                <div>Required</div>
            </div>
        </div>
        <div class="form-group mt-3 ">
            <label> Email</label>
            <!-- <input type="email" class="form-control" id="email"  [(ngModel)]="employee.email"
            name="email"> -->
            <input type="email" class="form-control"  formControlName='email' [ngClass]="{'is-invalid':addDetailsUsingForm.get('email')?.touched && addDetailsUsingForm.get('email').invalid}" />
            <div class="invalid-feedback">
                <div *ngIf ="addDetailsUsingForm.get('email')?.errors?.required">Required</div>
                <div *ngIf="addDetailsUsingForm.get('email')?.errors?.email">Invalid Format</div>
            </div>
         
        </div>
        <div class="container d-flex justify-content-center mt-4">

            <button type="submit" class="btn btn-primary" [disabled]='addDetailsUsingForm.invalid'>Submit</button>
        </div>
        </form>
</div>
