 <div class="contianer d-flex  ">

     <div class="card border-dark mb-3 m-2 " style="max-width: 18rem;">
        <div class="card-header bg-dark " style="color: white;">Header</div>
        <div class="card-body  align-content-center">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-dark mb-3  m-2" style="max-width: 18rem;">
        <div class="card-header bg-dark" style="color: white;">Header</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-dark mb-3  m-2" style="max-width: 18rem;">
        <div class="card-header bg-dark" style="color: white;">Header</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-dark mb-3  m-2" style="max-width: 18rem;">
        <div class="card-header bg-dark" style="color: white;">Header</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card border-dark mb-3  m-2" style="max-width: 18rem;">
        <div class="card-header bg-dark" style="color: white;">Header</div>
        <div class="card-body">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>